.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mapBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e6e3e3;
  /* Map gray */
  background-image: radial-gradient(circle at 10% 20%, #dadada 1px, transparent 1px),
    radial-gradient(circle at 90% 80%, #dadada 1px, transparent 1px);
  background-size: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.mapPlaceholderText {
  font-size: 2rem;
  color: #9aa0a6;
  opacity: 0.5;
  font-weight: 500;
}