.container {
    padding: 16px 24px;
}

.row {
    display: flex;
    align-items: center;
    /* Center icon with first line of text */
    margin-bottom: 16px;
    min-height: 24px;
}

.row:last-child {
    margin-bottom: 0;
}

.icon {
    margin-right: 16px;
    flex-shrink: 0;
    opacity: 0.7;
}

.text {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color);
}